#### Imports Required Libraries

In [72]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

#### Load dataset

In [73]:
df = pd.read_csv("Market_Basket_Optimisation.csv")
df.head(2)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Replaces 'NaN' values with empty string

In [74]:
df = df.fillna("")
df.head(2)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
1,chutney,,,,,,,,,,,,,,,,,,,

#### Encode the dataset into true/false values using tansaction encoder

In [75]:
te = TransactionEncoder()
encoded_array = te.fit_transform(df.values.tolist())

#### Convert the encoded array into pandas dataframe

In [76]:
transaction_df = pd.DataFrame(encoded_array, columns=te.columns_)
transaction_df.head(2)

,,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Extract frequent items by using fp-growth algorithm

In [77]:
frequent_items = fpgrowth(transaction_df, min_support=0.1, use_colnames=True)
frequent_items

     support           itemsets
0   1.000000                 ()
1   0.179733             (eggs)
2   0.238267    (mineral water)
3   0.132000        (green tea)
4   0.129600             (milk)
5   0.170933     (french fries)
6   0.174133        (spaghetti)
7   0.163867        (chocolate)
8   0.179733           (, eggs)
9   0.238267  (, mineral water)
10  0.132000      (, green tea)
11  0.129600           (, milk)
12  0.170933   (, french fries)
13  0.174133      (, spaghetti)
14  0.163867      (, chocolate)

#### Genreate association rules for frequent items

In [78]:
rules = association_rules(frequent_items, min_threshold=0.2)
rules

d:\Workspace\University\9th-Semester\data-mining-lab\.venv\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(eggs),(),0.179733,1.000000,0.179733,1.000000,1.0,1.0,0.0,inf,0.0,0.179733,0.0,0.589867
1,(),(mineral water),1.000000,0.238267,0.238267,0.238267,1.0,1.0,0.0,1.0,0.0,0.238267,0.0,0.619133
2,(mineral water),(),0.238267,1.000000,0.238267,1.000000,1.0,1.0,0.0,inf,0.0,0.238267,0.0,0.619133
3,(green tea),(),0.132000,1.000000,0.132000,1.000000,1.0,1.0,0.0,inf,0.0,0.132000,0.0,0.566000
4,(milk),(),0.129600,1.000000,0.129600,1.000000,1.0,1.0,0.0,inf,0.0,0.129600,0.0,0.564800
5,(french fries),(),0.170933,1.000000,0.170933,1.000000,1.0,1.0,0.0,inf,0.0,0.170933,0.0,0.585467
6,(spaghetti),(),0.174133,1.000000,0.174133,1.000000,1.0,1.0,0.0,inf,0.0,0.174133,0.0,0.587067
7,(chocolate),(),0.163867,1.000000,0.163867,1.000000,1.0,1.0,0.0,inf,0.0,0.163867,0.0,0.581933

#### Print association rules with necessary columns

In [79]:
rules[["antecedents", "consequents", "support", "confidence"]]

       antecedents      consequents   support  confidence
0           (eggs)               ()  0.179733    1.000000
1               ()  (mineral water)  0.238267    0.238267
2  (mineral water)               ()  0.238267    1.000000
3      (green tea)               ()  0.132000    1.000000
4           (milk)               ()  0.129600    1.000000
5   (french fries)               ()  0.170933    1.000000
6      (spaghetti)               ()  0.174133    1.000000
7      (chocolate)               ()  0.163867    1.000000